<h2 mat-dialog-title>{{ data.label }}</h2>

<div class="load-button-container" *ngIf="data.type=='img'" >
  <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
  <input hidden (change)="uploadPostImage($event)" #fileInput type="file" id="file" accept="image/png, image/jpeg">
  <div class="upload-progress" *ngIf="(uploadPercent$ | async) as percentage">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="percentage"></mat-progress-bar>
  </div>
</div>


<form [formGroup]="dialogForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <mat-form-field *ngIf="data.type=='text'" appearance="fill">
      <mat-label>Nuevo valor</mat-label>
      <input matInput formControlName="editText" cdkFocusInitial>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.type=='link'" appearance="fill">
      <mat-label>Nuevo valor</mat-label>
      <input matInput type="url" formControlName="editText" cdkFocusInitial>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.type=='textarea'" appearance="fill">
      <mat-label>Nuevo valor</mat-label>
      <textarea rows="10" cols="50" matInput formControlName="editText" cdkFocusInitial></textarea>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <mat-table *ngIf="data.type=='icons'" [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.get('key').value}} </mat-cell>
      </ng-container>


      <!-- Link Column -->
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
        <mat-cell *matCellDef="let element;" [formGroup]="element">
          <mat-form-field floatLabel="never">
            <input matInput type="url" placeholder="URL" formControlName="link" required>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>









      <!-- <ng-container *ngIf="data.type=='icons'">
      <div formArrayName="socials">
        <div *ngFor="let social of socials.controls; let i=index;">
          <div class="FormI" [formGroupName]="i">
            <mat-label>{{ i }}</mat-label>
            {{i}}
            social name:
            <input matInput type="text" formControlName="key">
            exp:
            <input matInput type="text" formControlName="link">

          </div>
        </div>
      </div>
      </ng-container> -->
      

    <ion-img *ngIf="data.type=='img'" [src]="imageURL || '//:0'"></ion-img>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-raised-button type="button" (click)="close()">
        Cancelar
    </button>

    <button mat-raised-button cdkFocusInitial color="primary" type="submit" >
        Guardar
    </button>
  </mat-dialog-actions>
</form>

  
