.mat-form-field {
    display: block;
    width: 100%;
}


textarea.mat-input-element {
    resize: none;
}

// mat-table .mat-column-key {
//     flex: 0 0 10% !important;
// }

mat-dialog-content {
    display: flex;
}

mat-table {
    width: 50vw;
}

// table{
//     width: 100%;
// }

mat-cell mat-form-field {
    width: 100%;
}
   
.mat-column-key {
    flex: 0 0 28% !important;
    width: 28% !important;
}


.load-button-container {
    width: 40vw;
    padding-bottom: 8px;
}

mat-progress-bar {
    margin-top: 8px;
}


@media only screen and (max-width: 768px) {
    .load-button-container {
        width: 60vw;
    }

    mat-table {
        width: 80vw;
    }

    mat-row mat-cell {
        padding: 0;
    }

    mat-header-row mat-header-cell {
        padding: 0;
    }

    .mat-column-key {
        // flex: 0 0 35% !important;
        // width: 35% !important;
        text-decoration: underline;
        color: blue;
        margin-bottom: -24px;
        margin-top: -8px;
    }

    mat-row {
        flex-wrap: wrap;
    }

    mat-cell {
        flex: 1 1 100%;
    }

    mat-header-row {
        display: none;
    }

    
}