.edit-banner {
	text-align: right;
	width: 100%;
}

.left-banner {
	float: left;
	// width: 50%;
}

.right-banner {
	// width: 50%;
}

.item-container {
	padding: 16px;
	// display: block;
	// clear: both;
	// flex: 100% 1 1;
}

ion-item-divider {
	border-bottom-width: 0px;
}

.img-container {
	float: left;
	overflow: hidden;
	height: 110px;
	width: 110px;
}

.img-container img {
	display: block;
	object-fit: cover;
	height: 110px;
	width: auto;
}

.text-container {
	margin-left: 130px;
}



.company-label {
	font-weight: 700;
}

.address-label {
	font-size: small;
	margin-bottom: 16px;
}

.note-label {
	font-size: small;
}

.upload-button {
	margin-right: 10vw;
}


// @media only screen and (min-width: 768px) {
// 	.item-container {
// 		margin-left: 15vw;
// 	}
// }

