ion-content {
	--background: #fff url("../../../assets/img/login-background.jpg") no-repeat center center / cover;
}

mat-card {
	background: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 5px !important;
	width: 98% !important;
	margin-left: 1vw;
	// margin-right: auto;
	display: block;
	align-items: center;
}

ion-col {
	border: 1px solid grey;
	border-radius: 10px;
}

ion-button {
	padding-left: 10px;
	padding-right: 10px;
}

@media(max-width:720px) {
	mat-card {
		width: 98% !important;
	}

	ion-col {
		border: none;
	}
}