<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <mat-card class="login-card">
  <ion-row>
    <ion-col size="12" size-md="6" offset-md="3" class="field-col">
      <form [formGroup]="PasswordResetForm" (ngSubmit)="onChangePassword()">

          <mat-card-header>
            <mat-card-title>Has olvidado tu password</mat-card-title>
            <mat-card-subtitle>Podemos enviarte un enlace para que entres un nuevo password</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field class="email-container">
              <input matInput placeholder="Enter you email" formControlName="email">
              <mat-error *ngIf="(PasswordResetForm.controls.email.statusChanges | async)!=='valid'">Not a valid email
              </mat-error>
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <ion-button type="submit" expand="block">CAMBIAR PASSWORD</ion-button>
          </mat-card-actions>
        </form>
      </ion-col>
    </ion-row>
  </mat-card>
</ion-content>
