<ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>Sowers</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onUserProfile()">
            <ion-icon slot="end" name="person-circle-outline" size="large" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="mycol" size="12" size-sm="8" offset-sm="2">
      <ion-list>
        <ion-item [routerLink]="[sower.uid]" button detail=(true) *ngFor="let sower of (sowers$ | async)">
          <ion-avatar slot="start">
            <img [src]="sower.photoUrl ? sower.photoUrl : defaultValue">
          </ion-avatar>
          <ion-label> {{ sower.displayName ? sower.displayName : sower.email }}</ion-label>
        </ion-item>
        
      </ion-list>
    
    </ion-col>
  </ion-row>

</ion-content>